@font-face {
    font-family: 'Rubik Bold';
    src: url('../fonts/Rubik-Bold-g.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Medium';
    src: url('../fonts/Rubik-Medium-g.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Rubik Bold';
//     src: url('../fonts/Rubik-Bold.eot');
//     src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Rubik-Bold.woff') format('woff'),
//     url('../fonts/Rubik-Bold.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Rubik Medium';
//     src: url('../fonts/Rubik-Medium.eot');
//     src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Rubik-Medium.woff') format('woff'),
//     url('../fonts/Rubik-Medium.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}