@white: #FFFFFF;
@dark-blue: #1D295C;
@blue: #4C73F4;
@select-blue: #5B81FF;
@back: #F3F7FF;
@red: #FF2E2E;
@grey: #A9B1C0;


@rubik-bold: 'Rubik Bold', sans-serif;
@rubik: 'Rubik Medium', sans-serif;
@open-regular: 'Open Sans Regular', sans-serif;
@open-semibold: 'Open Sans Semibold', sans-serif;

* {
    box-sizing: border-box;
    font-family: @open-regular;
    letter-spacing: 0.02em
}

p, h2, h1 {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

button {
    height: 48px;
    border-radius: 34px;
    font-family: @rubik;
    font-size: 14px;
    letter-spacing: 0.04em;
    display: block;
    border: none;
    cursor: pointer;
}
button:active, button:focus, button:hover {
    position: гelative;
    border: none;
    outline: none;
    outline-offset: 0;
}
.button-blue {
    background: @blue;
    box-shadow: 5px 5px 30px rgba(165, 185, 252, 0.5);
    color: @white;
}
.button-blue:hover, .button-blue :active {
    background: @select-blue;
}
.button-white {
    background: @white;
    box-shadow: 5px 5px 30px rgba(39, 57, 117, 0.5);
    color: @dark-blue;
}
.button-white:hover {
    color: @blue;
}
.button-white:active {
    color: @select-blue;
}
