.loader1 {
    opacity: 0 !important;
    animation: disable1 2s;
    svg {
        circle:nth-child(2n) {
            animation: load1 2s;
        }
    }
}
.loader2 {
    opacity: 0 !important;
    animation: disable1 4s;
    svg {
        circle:nth-child(2n) {
            animation: load2 4s;
        }
    }
}
.loader3 {
    opacity: 0 !important;
    animation: disable1 6s;
    svg {
        circle:nth-child(2n) {
            animation: load3 6s;
        }
    }
}
.loader4 {
    opacity: 0 !important;
    animation: disable1 8s;
    svg {
        circle:nth-child(2n) {
            animation: load4 8s;
        }
    }
}
.loader5 {
    opacity: 0 !important;
    animation: disable1 10s;
    svg {
        circle:nth-child(2n) {
            animation: load5 10s;
        }
    }
}
.loader6 {
    opacity: 0 !important;
    animation: disable1 12s;
    svg {
        circle:nth-child(2n) {
            animation: load6 12s;
        }
    }
}

@keyframes load1 {
    from {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes load2 {
    from {
        stroke-dasharray:0px 260px;
    }
    50% {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes load3 {
    from {
        stroke-dasharray:0px 260px;
    }
    66.6666% {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes load4 {
    from {
        stroke-dasharray:0px 260px;
    }
    75% {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes load5 {
    from {
        stroke-dasharray:0px 260px;
    }
    80% {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes load6 {
    from {
        stroke-dasharray:0px 260px;
    }
    83.3333% {
        stroke-dasharray:0px 260px;
    }
    to {
        stroke-dasharray:260px 260px;
    }
}

@keyframes disable1 {
    from {
        opacity: .9;
    }
    99.9999% {
        opacity: .9;
    }
    to {
        opacity: 0;
    }
}