@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik-Bold-g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik Medium';
  src: url('../fonts/Rubik-Medium-g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans Regular', sans-serif;
  letter-spacing: 0.02em;
}
p,
h2,
h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button {
  height: 48px;
  border-radius: 34px;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  display: block;
  border: none;
  cursor: pointer;
}
button:active,
button:focus,
button:hover {
  position: гelative;
  border: none;
  outline: none;
  outline-offset: 0;
}
.button-blue {
  background: #4C73F4;
  box-shadow: 5px 5px 30px rgba(165, 185, 252, 0.5);
  color: #FFFFFF;
}
.button-blue:hover,
.button-blue :active {
  background: #5B81FF;
}
.button-white {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(39, 57, 117, 0.5);
  color: #1D295C;
}
.button-white:hover {
  color: #4C73F4;
}
.button-white:active {
  color: #5B81FF;
}
.container {
  width: 328px;
  margin: auto;
}
img {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
.content {
  width: 100%;
  overflow: hidden;
}
.body {
  position: relative;
}
.grey-back {
  padding-bottom: 67px;
  background: url(../img/header-mob.png) no-repeat top center;
}
.grey-back .header {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
}
.grey-back .header .head-container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4B6FF3;
  font-size: 16px;
}
.grey-back .header .head-container .logotype,
.grey-back .header .head-container .number {
  font-weight: 600;
}
.grey-back .inform .title {
  margin-top: 48px;
  font-size: 34px;
  line-height: 44px;
  font-family: 'Rubik Bold', sans-serif;
  color: #1D295C;
}
.grey-back .inform .title span {
  font-family: 'Rubik Bold', sans-serif;
}
.grey-back .inform .tagline {
  margin-top: 25px;
  width: 72%;
  font-size: 16px;
  line-height: 24px;
  color: #1D295C;
  font-family: 'Open Sans Semibold', sans-serif;
}
.grey-back .inform .tagline span {
  font-family: 'Open Sans Semibold', sans-serif;
}
.grey-back .inform .description {
  width: 36%;
  margin-top: 32px;
  color: #1D295C;
  font-size: 16px;
  line-height: 24px;
}
.grey-back .btn {
  width: 263px;
  margin-top: 64px;
}
.grey-back .ps {
  margin-top: 22px;
  font-size: 14px;
  color: #4C73F4;
}
.notes {
  margin-top: 13px;
  width: 100%;
}
.notes .title {
  font-size: 26px;
  font-family: 'Rubik Bold', sans-serif;
  color: #1D295C;
}
.notes .arrow {
  margin-top: 21px;
  margin-bottom: 40px;
}
.notes .info-blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.notes .info-blocks .block {
  margin-top: 24px;
  width: 368px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 34px;
  padding: 24px 32px 32px 32px;
}
.notes .info-blocks .block__img {
  display: flex;
  justify-content: flex-end;
}
.notes .info-blocks .block__number {
  margin-top: 24px;
  font-family: 'Rubik Bold', sans-serif;
  font-size: 24px;
  color: #1D295C;
}
.notes .info-blocks .block__info {
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #1D295C;
}
.services {
  padding: 80px 0;
  background: url(../img/air-mob.png) no-repeat top -4% center;
}
.services .title {
  font-size: 26px;
  line-height: 36px;
  font-family: 'Rubik Bold', sans-serif;
  color: #1D295C;
}
.services .title span {
  font-family: 'Rubik Bold', sans-serif;
}
.services .tagline {
  margin-top: 356px;
  font-weight: 600;
  font-size: 18px;
  color: #1D295C;
}
.services ul {
  padding-inline-start: 16px;
  margin: 0;
}
.services ul li {
  color: #4C73F4;
  padding-left: 10px;
  margin-top: 30px;
}
.services ul span {
  color: #1D295C;
}
.services .report {
  margin-top: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #1D295C;
}
.services button {
  margin-top: 48px;
  width: 263px;
}
.refusal {
  padding: 32px 32px 40px 32px;
  background: #4C73F4;
  box-shadow: 0px 0px 30px #ECF0FF;
  border-radius: 34px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.refusal .title {
  margin-top: 8px;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 28px;
}
.refusal .description {
  margin-top: 24px;
}
.refusal .arrow {
  margin-top: 24px;
}
.refusal .btn {
  margin-top: 80px;
  width: 261px;
}
.facts .title {
  margin: 80px 0 42px 0;
  font-size: 26px;
  line-height: 36px;
  font-family: 'Rubik Bold', sans-serif;
  color: #1D295C;
}
.facts .info-blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.facts .info-blocks .block {
  width: 328px;
}
.facts .info-blocks .block__img {
  display: flex;
  justify-content: center;
}
.facts .info-blocks .block__info {
  margin-top: -78px;
  padding: 102px 0 64px 0;
  background: #FFFFFF;
  box-shadow: 5px 5px 30px #ECF0FF;
  border-radius: 34px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #1D295C;
}
.facts .btn {
  margin: auto;
  margin-top: 56px;
  width: 263px;
}
.works .title {
  margin-top: 80px;
  font-size: 26px;
  line-height: 36px;
  font-family: 'Rubik Bold', sans-serif;
  color: #1D295C;
}
.works .info {
  margin-top: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #1D295C;
  font-family: 'Open Sans Semibold', sans-serif;
}
.works .info-blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.works .info-blocks .block {
  margin: 40px 5px 0 5px;
  width: 154px;
}
.works .info-blocks .block__img {
  width: 154px;
  height: 159px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.works .info-blocks .block__img .loader {
  position: absolute;
  width: 154px;
  height: 159px;
  top: 0;
  left: 0;
  z-index: 10;
  background: #4C73F4;
  opacity: 0.9;
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 34px;
}
.works .info-blocks .block__img .loader svg circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #4C73F4;
  stroke-width: 7.5;
  stroke-dasharray: 260px 260px;
}
.works .info-blocks .block__img .loader svg circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #C4C4C4;
  stroke-width: 7.5;
  stroke-dasharray: 0px 260px;
}
.works .info-blocks .block__info {
  margin-top: 23px;
  font-size: 16px;
  line-height: 26px;
  color: #1D295C;
}
.works .tagline {
  margin-top: 40px;
  font-size: 18px;
  line-height: 25px;
  color: #1D295C;
  font-weight: bolder;
}
.works .btn {
  margin-top: 40px;
  width: 263px;
}
.works a {
  margin-top: 24px;
  width: 257px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4C73F4;
  cursor: pointer;
}
.works a:link,
.works a:visited,
.works a:active,
.works a:hover {
  color: #4C73F4;
}
.footer {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 80px;
  background: #F3F7FF;
  box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
}
.footer .container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .container .block {
  margin-top: 56px;
}
.footer .container .dark {
  font-size: 16px;
  color: #1D295C;
  font-weight: 600;
}
.footer .container .contacts {
  padding-right: 10px;
}
.footer .container .contacts .number {
  margin-top: 21px;
  color: #4C73F4;
  font-size: 18px;
}
.footer .container .contacts .mail {
  margin-top: 16px;
  color: #4C73F4;
  font-size: 18px;
}
.footer .container .contacts a,
.footer .container .contacts a:link,
.footer .container .contacts a:visited,
.footer .container .contacts a:active,
.footer .container .contacts a:hover {
  color: #4C73F4;
  text-decoration: none;
}
.footer .container .icons {
  margin-top: 26px;
}
.footer .container .icons a {
  margin-right: 38px;
}
.footer .container .icons a img {
  display: inline;
}
.footer .container .logo .logotype {
  font-size: 18px;
  color: #4C73F4;
  font-weight: 600;
}
.footer .container .logo .rights {
  margin-top: 16px;
}
.envelope {
  height: 90%;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: none;
  top: 0;
  position: fixed;
  z-index: 1002;
  pointer-events: none;
}
.envelope .container {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(39, 57, 117, 0.5);
  border-radius: 34px;
  padding: 32px 21px 64px 24px;
  color: #1D295C;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  overflow-y: scroll;
  height: 90%;
  pointer-events: auto;
}
.envelope .container .title {
  font-size: 22px;
  line-height: 32px;
  font-family: 'Rubik Bold', sans-serif;
}
.envelope .container form {
  margin-top: 32px;
}
.envelope .container form label {
  color: #A9B1C0;
  display: block;
  margin-bottom: 21px;
}
.envelope .container form .pasport {
  display: flex;
  justify-content: space-between;
}
.envelope .container form .pasport .series,
.envelope .container form .pasport .number {
  width: 130px;
}
.envelope .container form .btn {
  margin-top: 32px;
  width: 263px;
  height: 83px;
  font-size: 14px;
  border-radius: 41.5px;
}
.envelope .container form .btn span {
  margin-top: 10px;
  display: block;
  white-space: nowrap;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 16px;
}
.envelope .container form input {
  display: block;
  margin-top: 12px;
  padding-left: 24px;
  width: 100%;
  height: 48px;
  background: #FBFBFB;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 10px;
  color: #1D295C;
  font-size: 16px;
}
.envelope .container form input:focus {
  outline: none;
  border: 1px solid rgba(76, 115, 244, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
}
.envelope .container form input:invalid:not(:placeholder-shown) {
  outline: none;
  border: 1px solid #FF2E2E;
  box-sizing: border-box;
  border-radius: 10px;
}
.envelope .container form .serch {
  margin-top: 24px;
  width: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4C73F4;
  cursor: pointer;
}
.envelope .container form .serch p {
  font-weight: 600;
}
.envelope .container form a:link,
.envelope .container form a:visited,
.envelope .container form a:active,
.envelope .container form a:hover {
  color: #4C73F4;
}
.envelope .container form .check {
  display: block;
  margin-top: 26px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #1D295C;
  padding-inline-start: 40px;
  position: relative;
  cursor: pointer;
}
.envelope .container form .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.envelope .container form .check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid #CCCCCC;
}
.envelope .container form .check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.envelope .container form .check input:checked ~ .checkmark:after {
  display: block;
}
.envelope .container form .check .checkmark:after {
  left: 5px;
  top: -7px;
  width: 5px;
  height: 13px;
  border: solid #4C73F4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.envelope .container form .check a {
  color: #4C73F4;
  cursor: pointer;
}
.envelope .container form .tagline {
  padding-top: 5px;
  padding-inline-start: 33px;
  position: relative;
}
.envelope .container form .tagline::before {
  content: url(../img/lock.png);
  position: absolute;
  top: 0;
  left: 0;
}
.envelope .container .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  background: url(../img/close.png) no-repeat;
  display: none;
}
.black-overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #0E2163;
  opacity: 0.7;
  z-index: 1001;
}
.loader1 {
  opacity: 0 !important;
  animation: disable1 2s;
}
.loader1 svg circle:nth-child(2n) {
  animation: load1 2s;
}
.loader2 {
  opacity: 0 !important;
  animation: disable1 4s;
}
.loader2 svg circle:nth-child(2n) {
  animation: load2 4s;
}
.loader3 {
  opacity: 0 !important;
  animation: disable1 6s;
}
.loader3 svg circle:nth-child(2n) {
  animation: load3 6s;
}
.loader4 {
  opacity: 0 !important;
  animation: disable1 8s;
}
.loader4 svg circle:nth-child(2n) {
  animation: load4 8s;
}
.loader5 {
  opacity: 0 !important;
  animation: disable1 10s;
}
.loader5 svg circle:nth-child(2n) {
  animation: load5 10s;
}
.loader6 {
  opacity: 0 !important;
  animation: disable1 12s;
}
.loader6 svg circle:nth-child(2n) {
  animation: load6 12s;
}
@keyframes load1 {
  from {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes load2 {
  from {
    stroke-dasharray: 0px 260px;
  }
  50% {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes load3 {
  from {
    stroke-dasharray: 0px 260px;
  }
  66.6666% {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes load4 {
  from {
    stroke-dasharray: 0px 260px;
  }
  75% {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes load5 {
  from {
    stroke-dasharray: 0px 260px;
  }
  80% {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes load6 {
  from {
    stroke-dasharray: 0px 260px;
  }
  83.3333% {
    stroke-dasharray: 0px 260px;
  }
  to {
    stroke-dasharray: 260px 260px;
  }
}
@keyframes disable1 {
  from {
    opacity: 0.9;
  }
  99.9999% {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 1171px) {
  .notes .info-blocks .block__img {
    height: 106px;
  }
  .notes .info-blocks .block__img img {
    transform: scaleX(0.65) translate(50px);
  }
  .services img {
    display: none;
  }
  .refusal-back {
    display: none;
  }
  .facts .info-blocks .block__info-desk {
    display: none;
  }
  .r-circle,
  .l-circle {
    display: none;
  }
}
@media (min-width: 767px) {
  .container {
    width: 736px;
  }
  .head-container {
    margin: auto;
    width: 736px;
  }
  .notes .info-blocks .block {
    width: 360px;
  }
  .services {
    background: url(../img/air-mob.png) no-repeat 15% 0%;
  }
  .services .container {
    display: flex;
    justify-content: flex-end;
  }
  .services .tagline {
    margin-top: 16px;
  }
  .services .info-block {
    width: 360px;
  }
  .refusal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .refusal .title {
    margin-top: 18px;
    font-size: 35px;
  }
  .refusal .arrow {
    display: none;
  }
  .refusal .btn {
    margin-top: 0;
  }
  .refusal .block-info {
    position: relative;
  }
  .refusal .block-info::before {
    position: absolute;
    content: url(../img/Vector-white.png);
    transform: rotate(-90deg);
    right: -50px;
    top: 40px;
  }
  .works .title {
    text-align: center;
    font-size: 30px;
  }
  .works .info,
  .works .tagline {
    text-align: center;
  }
  .works a,
  .works .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .works .btn {
    width: 310px;
    height: 64px;
    font-size: 16px;
  }
  .works .info-blocks .block {
    width: 180px;
  }
  .works .info-blocks .block .img {
    width: 180px;
    height: 190px;
  }
  .footer .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .container .icons a {
    margin-right: 20px;
  }
  .envelope {
    margin-top: 45px;
  }
  .envelope .container {
    font-size: 16px;
    line-height: 28px;
  }
  .envelope .container .title {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }
  .envelope .container form {
    width: 360px;
    margin: auto;
    margin-top: 40px;
  }
  .envelope .container form .pasport .series,
  .envelope .container form .pasport .number {
    width: 165px;
  }
  .envelope .container form .description {
    font-size: 14px;
    line-height: 22px;
    width: 327px;
    margin: auto;
    text-align: center;
  }
  .envelope .container form .btn {
    margin: auto;
    margin-top: 32px;
  }
  .envelope .container form .serch {
    margin: auto;
    margin-top: 24px;
    width: 237px;
  }
  .envelope .container form .check {
    margin-left: 44px;
    margin-top: 26px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .envelope .container form .tagline {
    margin-left: 25px;
    font-size: 14px;
    line-height: 22px;
  }
  .envelope .container .close-btn {
    top: 32px;
    right: 21px;
    display: block;
  }
}
@media (min-width: 1172px) {
  .container,
  .head-container {
    width: 1140px;
    margin: auto;
  }
  body {
    background: url(../img/header_desk.png) no-repeat top center;
  }
  .grey-back {
    padding-bottom: 167px;
    background: none;
  }
  .grey-back .header .head-container {
    height: 80px;
    font-size: 18px;
  }
  .grey-back .inform .title {
    margin-top: 152px;
    font-size: 56px;
  }
  .grey-back .inform .tagline {
    margin-top: 25px;
    font-size: 30px;
  }
  .grey-back .inform .description {
    width: 30%;
    margin-top: 103px;
    font-size: 20px;
    line-height: 30px;
  }
  .grey-back .btn {
    width: 310px;
    height: 64px;
    font-size: 16px;
    margin-top: 40px;
  }
  .grey-back .ps {
    margin-top: 168px;
    font-size: 14px;
  }
  .notes .container {
    position: relative;
  }
  .notes .l-circle {
    display: block;
    position: absolute;
    top: 300px;
    left: -200px;
    z-index: -1;
  }
  .notes .r-circle {
    display: block;
    position: absolute;
    bottom: 144px;
    right: -160px;
    z-index: -1;
  }
  .notes .title {
    font-size: 40px;
  }
  .notes .arrow {
    transform: rotate(-90deg);
    margin-bottom: 0;
  }
  .notes .info-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .notes .info-blocks .block {
    margin-top: 40px;
    width: 555px;
    height: 400px;
    padding: 40px 37px 44px 40px;
  }
  .notes .info-blocks .block__img img {
    transform: scale(1);
  }
  .notes .info-blocks .block__number {
    margin-top: 45px;
    font-size: 30px;
  }
  .notes .info-blocks .block__info {
    font-size: 18px;
    line-height: 28px;
  }
  .services {
    padding: 405px 0 278px;
    background: none;
  }
  .services .container {
    position: relative;
  }
  .services img {
    position: absolute;
    z-index: -1;
    bottom: -442px;
    left: -624px;
  }
  .services .info-block {
    width: 580px;
  }
  .services .title {
    font-size: 40px;
  }
  .services .tagline {
    margin-top: 16px;
    font-size: 20px;
  }
  .services ul {
    padding-inline-start: 20px;
    margin: 0;
  }
  .services ul li {
    width: 517px;
    font-size: 18px;
    margin-top: 32px;
  }
  .services ul span {
    color: #1D295C;
    line-height: 30px;
  }
  .services .report {
    margin-top: 40px;
    font-size: 26px;
  }
  .services button {
    margin-top: 60px;
    width: 310px;
    height: 64px;
    font-size: 16px;
  }
  .ref {
    position: relative;
    margin-top: 202px;
  }
  .ref .refusal-back {
    position: absolute;
    display: block;
    top: -202px;
    left: -168px;
    z-index: -1;
  }
  .refusal {
    font-size: 18px;
    line-height: 25px;
  }
  .refusal .title {
    margin-top: 18px;
    font-size: 40px;
  }
  .refusal .block-info::before {
    top: 43px;
  }
  .refusal .btn {
    width: 310px;
    height: 64px;
    font-size: 16px;
  }
  .facts .title {
    margin: 160px 0 54px 0;
    font-size: 40px;
    line-height: 60px;
  }
  .facts .info-blocks .block {
    width: 262px;
  }
  .facts .info-blocks .block__img img {
    width: 136px;
  }
  .facts .info-blocks .block__info {
    display: none;
  }
  .facts .info-blocks .block__info-desk {
    height: 240px;
    margin-top: -78px;
    padding: 85px 0 51px 0;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px #ECF0FF;
    border-radius: 34px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #1D295C;
  }
  .facts .btn {
    margin-top: 80px;
    width: 310px;
    height: 64px;
    font-size: 16px;
  }
  .works .title {
    margin-top: 120px;
    font-size: 40px;
  }
  .works .info {
    margin-top: 24px;
    font-size: 20px;
  }
  .works .tagline {
    margin-top: 60px;
    font-size: 26px ;
  }
  .works a,
  .works .btn {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .works .btn {
    margin-top: 40px;
    width: 310px;
    height: 64px;
    font-size: 16px;
  }
  .works .info-blocks .block {
    margin-top: 56px;
    width: 165px;
  }
  .works .info-blocks .block__img {
    width: 165px;
    height: 170px;
  }
  .works .info-blocks .block__img .loader {
    width: 165px;
    height: 170px;
  }
  .works .info-blocks .block__img .loader svg {
    width: 165px;
    height: 170px;
  }
  .works .info-blocks .block__img .loader svg circle {
    transform: rotate(-90deg) translate(-5.5px, 5.5px);
  }
  .works .info-blocks .block__img .loader svg circle:nth-child(2n) {
    transform: rotate(-90deg) translate(-5.5px, 5.5px);
    fill: rgba(0, 0, 0, 0);
    stroke: #C4C4C4;
    stroke-width: 7.5;
    stroke-dasharray: 0px 260px;
  }
  .footer {
    margin-top: 150px;
  }
  .footer .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .container .icons a {
    margin-right: 24px;
    display: inline-block;
  }
  .footer .container .icons a:nth-child(3n-2) {
    width: 16px;
  }
  .footer .container .icons a:nth-child(2) {
    width: 29px;
  }
  .footer .container .icons a:nth-child(3) {
    width: 19px;
  }
  .footer .container .icons img {
    width: 100%;
  }
  .footer .container .socseti {
    width: 270px;
  }
  .footer .container .socseti p {
    width: 160px;
    text-align: center;
  }
  .envelope {
    margin-top: 69px;
  }
  .envelope .container {
    padding: 0;
    width: 1136px;
  }
  .envelope .container .background {
    background: url(../img/form.png) no-repeat top right -22px;
    padding: 49px 50px 64px 46px;
  }
  .envelope .container .title {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }
  .envelope .container form {
    width: 360px;
    margin: 0;
    margin-top: 40px;
  }
  .envelope .container form .description {
    margin: 0;
    text-align: left;
  }
  .envelope .container form .btn {
    margin: 0;
    margin-top: 32px;
    width: 414px;
    height: 64px;
  }
  .envelope .container form .btn span {
    vertical-align: middle;
    margin-top: 0;
    margin-left: 21px;
    border-left: 1px solid #FFFFFF;
    padding: 10px 21px;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Rubik Medium', sans-serif;
    font-size: 16px;
  }
  .envelope .container form .serch {
    margin: 0;
    margin-top: 24px;
  }
  .envelope .container form .check {
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  .envelope .container form .tagline {
    margin-left: 0;
    font-size: 14px;
    line-height: 22px;
  }
  .envelope .container .close-btn {
    top: 49px;
    right: 50px;
  }
}
