@import './_fonts.less';
@import './_mixin.less';

.container {
    width: 328px;
    margin: auto;
}
img {
    display: block;
}
.nowrap {
    white-space: nowrap;
}
.content {
    width: 100%;
    overflow: hidden;
}
.body {
    position: relative;
}
.grey-back {    
    padding-bottom: 67px;
    background: url(../img/header-mob.png) no-repeat top center;
    .header {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
        .head-container {
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #4B6FF3;
            font-size: 16px;
            .logotype, .number {
                font-weight: 600;
            }
        }
    }
    .inform {
        .title {
            margin-top: 48px;
            font-size: 34px;
            line-height: 44px;
            font-family: @rubik-bold;
            color: @dark-blue;
            span {
                font-family: @rubik-bold;
            }
        }
        .tagline {
            margin-top: 25px;
            width: 72%;
            font-size: 16px;
            line-height: 24px;
            color: @dark-blue;
            font-family: @open-semibold;
            span {
                font-family: @open-semibold;
            }
        }
        .description {
            width: 36%;
            margin-top: 32px;
            color: @dark-blue;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .btn {
        width: 263px;
        margin-top: 64px;
    }
    .ps {
        margin-top: 22px;
        font-size: 14px;
        color: @blue;
    }
}
.notes {
    margin-top: 13px;
    width: 100%;
    .title {
        font-size: 26px;
        font-family: @rubik-bold;
        color: @dark-blue;
    }
    .arrow {
        margin-top: 21px;
        margin-bottom: 40px;
    }
    .info-blocks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 10px;
        .block {
            margin-top: 24px;
            width: 368px;
            background: @white;
            box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
            border-radius: 34px;
            padding: 24px 32px 32px 32px;
            &__img {
                display: flex;
                justify-content: flex-end;
            }
            &__number {
                margin-top: 24px;
                font-family: @rubik-bold;
                font-size: 24px;
                color: @dark-blue;
            }
            &__info {
                margin-top: 20px;
                font-size: 16px;
                line-height: 26px;
                color: @dark-blue;
            }
        }
    }
}
.services {
    padding: 80px 0;
    background: url(../img/air-mob.png) no-repeat top -4% center ;
    .title {
        font-size: 26px;
        line-height: 36px;
        font-family: @rubik-bold;
        color: @dark-blue;
        span {
            font-family: @rubik-bold;
        }
    }
    .tagline {
        margin-top: 356px;
        font-weight: 600;
        font-size: 18px;
        color: @dark-blue;
    }
    ul {
        padding-inline-start: 16px;
        margin: 0;
        li {
            color: @blue;
            padding-left: 10px;
            margin-top: 30px
        }
        span {
            color: @dark-blue;
        }
    }
    .report {
        margin-top: 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: @dark-blue;
    }
    button {
        margin-top: 48px;
        width: 263px;
    }
}
.refusal {
    padding: 32px 32px 40px 32px;
    background: #4C73F4;
    box-shadow: 0px 0px 30px #ECF0FF;
    border-radius: 34px;
    color: @white;
    font-size: 16px;
    line-height: 22px;
    .title {
        margin-top: 8px;
        font-family: @rubik;
        font-size: 28px;
    }
    .description {
        margin-top: 24px;
    }
    .arrow {
        margin-top: 24px;
    }
    .btn {
        margin-top: 80px;
        width: 261px;
    }
}
.facts {
    .title {
        margin: 80px 0 42px 0;
        font-size: 26px;
        line-height: 36px;
        font-family: @rubik-bold;
        color: @dark-blue;
    }
    .info-blocks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .block {
            width: 328px;
            &__img {
                display: flex;
                justify-content: center;
            }
            &__info {
                margin-top: -78px;
                padding: 102px 0 64px 0;
                background: #FFFFFF;
                box-shadow: 5px 5px 30px #ECF0FF;
                border-radius: 34px;
                text-align: center;
                font-size: 16px;
                line-height: 26px;
                color: @dark-blue;
            }
        }
    }
    .btn {
        margin:auto;
        margin-top: 56px;
        width: 263px;
    }
}
.works {
    .title{
        margin-top: 80px;
        font-size: 26px;
        line-height: 36px;
        font-family: @rubik-bold;
        color: @dark-blue;
    }
    .info {
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        color: @dark-blue;
        font-family: @open-semibold;
    }
    .info-blocks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .block {
            margin: 40px 5px 0 5px;
            width: 154px;
            &__img {
                width: 154px;
                height: 159px;
                background: #FFFFFF;
                box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
                border-radius: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative; 
                .loader {
                    position: absolute;
                    width: 154px;
                    height: 159px;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    background: #4C73F4;
                    opacity: 0.9;
                    box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
                    border-radius: 34px;
                    svg {
                        circle {
                            fill: rgba(0,0,0,0);
                            stroke: #4C73F4;
                            stroke-width: 7.5;
                            stroke-dasharray: 260px 260px;
                        }
                        circle:nth-child(2n) {
                            fill: rgba(0,0,0,0);
                            stroke: #C4C4C4;
                            stroke-width: 7.5;
                            stroke-dasharray:0px 260px;
                        }
                    }
                }
            }
            &__info {
                margin-top: 23px;
                font-size: 16px;
                line-height: 26px;
                color: @dark-blue;
            }
        }
    }
    .tagline {
        margin-top: 40px;
        font-size: 18px;
        line-height: 25px;
        color: @dark-blue;
        font-weight: bolder;
    }
    .btn {
        margin-top: 40px;
        width: 263px;
    }
    a {
        margin-top: 24px;
        width: 257px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @blue;
        cursor: pointer;
    }
    a:link, a:visited, a:active, a:hover {
        color: @blue;
    }
}
.footer {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
    background: #F3F7FF;
    box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
    .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        .block {
            margin-top: 56px;
        }
        .dark {
            font-size: 16px;
            color: @dark-blue;
            font-weight: 600;
        }
        .contacts {
            padding-right: 10px;
            .number {
                margin-top: 21px;
                color: @blue;
                font-size: 18px;
            }
            .mail {
                margin-top: 16px;
                color: @blue;
                font-size: 18px;
            }
            a, a:link, a:visited, a:active, a:hover {
                color: @blue;
                text-decoration: none;
             }
        }
        .icons {
            margin-top: 26px;
            a {
                margin-right: 38px;
                img {
                    display: inline;
                }
            }
        }
        .logo {
            .logotype {
                font-size: 18px;
                color: @blue;
                font-weight: 600;
            }
            .rights {
                margin-top: 16px;
            }
        }
    }
}
.envelope {
    height: 90%;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: none;
    top: 0;
    position: fixed;
    z-index: 1002;
    pointer-events: none;
    .container {
        background: #FFFFFF;
        box-shadow: 5px 5px 30px rgba(39, 57, 117, 0.5);
        border-radius: 34px;
        padding: 32px 21px 64px 24px;
        color: @dark-blue;
        font-size: 14px;
        line-height: 22px;
        position: relative;
        overflow-y: scroll;
        height: 90%;
        pointer-events: auto;
        .title {
            font-size: 22px;
            line-height: 32px;
            font-family: @rubik-bold;
        }
        form {
            margin-top: 32px;
            label {
                color: #A9B1C0;
                display: block;
                margin-bottom: 21px;
            }
            .pasport {
                display: flex;
                justify-content: space-between;
                .series, .number {
                    width: 130px;
                }
            }
            .btn {
                margin-top: 32px;
                width: 263px;
                height: 83px;
                font-size: 14px;
                border-radius: 41.5px;
                span {
                    margin-top: 10px;
                    display: block;
                    white-space: nowrap;
                    font-family: @rubik;
                    font-size: 16px;
                }
            }
            input {
                display: block;
                margin-top: 12px;
                padding-left: 24px;
                width: 100%;
                height: 48px;
                background: #FBFBFB;
                border: 1px solid #EDEDED;
                box-sizing: border-box;
                border-radius: 10px;
                color: @dark-blue;
                font-size: 16px;
            }
            input:focus{
                outline: none;
                border: 1px solid rgba(76, 115, 244, 0.4);
                box-sizing: border-box;
                border-radius: 10px;
            }
            input:invalid:not(:placeholder-shown) {
                outline: none;
                border: 1px solid #FF2E2E;
                box-sizing: border-box;
                border-radius: 10px;
            }
            .serch {
                margin-top: 24px;
                width: 205px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: @blue;
                cursor: pointer;
                p {
                    font-weight: 600;
                }
            }
            a:link, a:visited, a:active, a:hover {
                color: @blue;
            }
            .check {
                display: block;
                margin-top: 26px;
                margin-bottom: 16px;
                font-size: 14px;
                line-height: 20px;
                color: @dark-blue;
                padding-inline-start: 40px;
                position: relative;
                cursor: pointer;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    border: 2px solid #CCCCCC;
                }
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                input:checked ~ .checkmark:after {
                    display: block;
                }
                .checkmark:after {
                    left: 5px;
                    top: -7px;
                    width: 5px;
                    height: 13px;
                    border: solid @blue;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                a {
                    color: @blue;
                    cursor: pointer;
                }
            }
            .tagline {
                padding-top: 5px;
                padding-inline-start: 33px;
                position: relative;
            }
            .tagline::before {
                content: url(../img/lock.png);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 21px;
            height: 21px;
            background: url(../img/close.png) no-repeat;
            display: none;
        }
    }
    // .container::-webkit-scrollbar {
    //     width: 10px;
    // }
}
.black-overlay {
    display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    background: #0E2163;
    opacity: 0.7;
    z-index:1001;
}


@import './animation.less';


@media (max-width: 1171px) {
    .notes {
        .info-blocks {
            .block {
                &__img {
                    height: 106px;
                    img {
                        transform: scaleX(0.65) translate(50px);
                    }
                }
            }
        }
    }
    .services {
        img {
            display: none;
        }
    }
    .refusal-back {
        display: none;
    }
    .facts {
        .info-blocks {
            .block {
                &__info-desk {
                    display: none;
                }
            }
        }
    }
    .r-circle, .l-circle {
        display: none;
    }
}

@media (min-width: 767px) {
    .container {
        width: 736px;
    }
    .head-container {
        margin: auto;
        width: 736px;
    }
    .notes {
        .info-blocks {
            .block {
                width: 360px;
            }
        }
    }
    .services {
        background: url(../img/air-mob.png) no-repeat 15% 0%;
        .container {
            display: flex;
            justify-content: flex-end;
        }
        .tagline {
            margin-top: 16px;
        }
        .info-block {
            width: 360px;
        }
    }
    .refusal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            margin-top: 18px;
            font-size: 35px;
        }
        .arrow {
            display: none;
        }
        .btn {
            margin-top: 0;
        }
        .block-info {
            position: relative;
        }
        .block-info::before  {
            position: absolute;
            content: url(../img/Vector-white.png);
            transform: rotate(-90deg);
            right: -50px;
            top: 40px;
        }
    }
    .works {
        .title {
            text-align: center;
            font-size: 30px;
        }
        .info, .tagline {
            text-align: center;
        }
        a, .btn {
            margin-left: auto;
            margin-right: auto;
        }
        .btn {
            width: 310px;
            height: 64px;
            font-size: 16px;
        }
        .info-blocks {
            .block {
                width: 180px;
                .img {
                    width: 180px;
                    height: 190px;
                }
            }
        }
    }
    .footer {
        .container{
            flex-direction: row-reverse;
            justify-content: space-between;
            .icons {
                a {
                    margin-right: 20px;
                }
            }
        }
    }
    .envelope {
        margin-top: 45px;
        .container {
            font-size: 16px;
            line-height: 28px;
            .title {
                font-size: 24px;
                line-height: 28px;
                text-align: left;
            }
            form {
                width: 360px;
                margin: auto;
                margin-top: 40px;
                .pasport {
                    .series, .number {
                        width: 165px;
                    }
                }
                .description {
                    font-size: 14px;
                    line-height: 22px;
                    width: 327px;
                    margin: auto;
                    text-align: center;
                }
                .btn {
                    margin: auto;
                    margin-top: 32px;
                }
                .serch {
                    margin: auto;
                    margin-top: 24px;
                    width: 237px;
                }
                .check {
                    margin-left: 44px;
                    margin-top: 26px;
                    margin-bottom: 16px;
                    font-size: 14px;
                    line-height: 20px;
                }
                .tagline {
                    margin-left: 25px;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .close-btn {
                top: 32px;
                right: 21px;
                display: block;
            }
        }
    }
}

@media (min-width: 1172px) {
    .container, .head-container {
        width: 1140px;
        margin: auto;
    }
    body {
        background: url(../img/header_desk.png) no-repeat top center;
    }
    .grey-back {    
        padding-bottom: 167px;
        background: none;
        .header {
            .head-container {
                height: 80px;
                font-size: 18px;
            }
        }
        .inform {
            .title {
                margin-top: 152px;
                font-size: 56px;
            }
            .tagline {
                margin-top: 25px;
                font-size: 30px;
            }
            .description {
                width: 30%;
                margin-top: 103px;
                font-size: 20px;
                line-height: 30px;
            }
        }
        .btn {
            width: 310px;
            height: 64px;
            font-size: 16px;
            margin-top: 40px;
        }
        .ps {
            margin-top: 168px;
            font-size: 14px;
        }
    }
    .notes {
        .container {
            position: relative;
        }
        .l-circle {
            display: block;
            position: absolute;
            top: 300px;
            left: -200px;
            z-index: -1;
        }
        .r-circle {
            display: block;
            position: absolute;
            bottom: 144px;
            right: -160px;
            z-index: -1;
        }
        .title {
            font-size: 40px;
        }
        .arrow {
            transform: rotate(-90deg);
            margin-bottom: 0;
        }
        .info-blocks {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .block {
                margin-top: 40px;
                width: 555px;
                height: 400px;
                padding: 40px 37px 44px 40px;
                &__img {
                    img {
                        transform: scale(1);
                    }
                }
                &__number {
                    margin-top: 45px;
                    font-size: 30px;
                }
                &__info {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
    .services {
        padding: 405px 0 278px;
        background: none;
        .container {
            position: relative;
        }
        img {
            position: absolute;
            z-index: -1;
            bottom: -442px;
            left: -624px;
        }
        .info-block {
            width: 580px;
        }
        .title {
            font-size: 40px;
        }
        .tagline {
            margin-top: 16px;
            font-size: 20px;
        }
        ul {
            padding-inline-start: 20px;
            margin: 0;
            li {
                width: 517px;
                font-size: 18px;
                margin-top: 32px
            }
            span {
                color: @dark-blue;
                line-height: 30px;
            }
        }
        .report {
            margin-top: 40px;
            font-size: 26px;
        }
        button {
            margin-top: 60px;
            width: 310px;
            height: 64px;
            font-size: 16px;
        }
    }
    .ref {
        position: relative;
        margin-top: 202px;
        .refusal-back {
            position: absolute;
            display: block;
            top: -202px;
            left: -168px;
            z-index: -1;
        }
    }
    .refusal {
        font-size: 18px;
        line-height: 25px;
        .title {
            margin-top: 18px;
            font-size: 40px;
        }
        .block-info::before  {
            top: 43px;
        }
        .btn {
            width: 310px;
            height: 64px;
            font-size: 16px;
        }
    }
    .facts {
        .title {
            margin: 160px 0 54px 0;
            font-size: 40px;
            line-height: 60px;
        }
        .info-blocks {
            .block {
                width: 262px;
                &__img {
                    img {
                        width: 136px;
                    }
                }
                &__info {
                    display: none;
                }
                &__info-desk {
                    height: 240px;
                    margin-top: -78px;
                    padding: 85px 0 51px 0;
                    background: #FFFFFF;
                    box-shadow: 5px 5px 30px #ECF0FF;
                    border-radius: 34px;
                    text-align: center;
                    font-size: 16px;
                    line-height: 26px;
                    color: @dark-blue;
                }
            }
        }
        .btn {
            margin-top: 80px;
            width: 310px;
            height: 64px;
            font-size: 16px;
        }
    }
    .works {
        .title {
            margin-top: 120px;
            font-size: 40px;
        }
        .info {
            margin-top: 24px;
            font-size: 20px;
        }
        .tagline {
            margin-top: 60px;
            font-size: 26px ;
        }
        a, .btn {
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
        }
        .btn {
            margin-top: 40px;
            width: 310px;
            height: 64px;
            font-size: 16px;
        }
        .info-blocks {
            .block {
                margin-top: 56px;
                width: 165px;
                &__img {
                    width: 165px;
                    height: 170px;
                    .loader {
                        width: 165px;
                        height: 170px;
                        svg {
                            width: 165px;
                            height: 170px;
                            circle {
                                transform: rotate(-90deg) translate(-5.5px , 5.5px);
                            }
                            circle:nth-child(2n) {
                                transform: rotate(-90deg) translate(-5.5px , 5.5px);
                                fill: rgba(0,0,0,0);
                                stroke: #C4C4C4;
                                stroke-width: 7.5;
                                stroke-dasharray:0px 260px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        margin-top: 150px;
        .container{
            flex-direction: row-reverse;
            justify-content: space-between;
            .icons {
                a {
                    margin-right: 24px;
                    display: inline-block;
                }
                a:nth-child(3n-2) {
                    width: 16px;
                }
                a:nth-child(2) {
                    width: 29px;
                }
                a:nth-child(3) {
                    width: 19px;
                }
                img {
                    width: 100%;
                }
            }
            .socseti {
                width: 270px;
                p {
                    width: 160px;
                    text-align: center;
                }
            }
        }
    }
    .envelope {
        margin-top: 69px;
        .container {
            padding: 0;
            width: 1136px;
            .background {
                background: url(../img/form.png) no-repeat top right -22px; //-7
                padding: 49px 50px 64px 46px;
            }
            .title {
                font-size: 24px;
                line-height: 28px;
                text-align: left;
            }
            form {
                width: 360px;
                margin: 0;
                margin-top: 40px;
                .description {
                    margin: 0;
                    text-align: left;
                }
                .btn {
                    margin: 0;
                    margin-top: 32px;
                    width: 414px;
                    height: 64px;
                    span {
                        vertical-align: middle;
                        margin-top: 0;
                        margin-left: 21px;
                        border-left: 1px solid @white;
                        padding: 10px 21px;
                        display: inline-block;
                        white-space: nowrap;
                        font-family: @rubik;
                        font-size: 16px;
                    }
                }
                .serch {
                    margin: 0;
                    margin-top: 24px;
                }
                .check {
                    margin-left: 0;
                    margin-top: 26px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 20px;
                }
                .tagline {
                    margin-left: 0;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .close-btn {
                top: 49px;
                right: 50px;
            }
        }
    }
}