@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik-Bold-g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik Medium';
  src: url('../fonts/Rubik-Medium-g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans Regular', sans-serif;
  letter-spacing: 0.02em;
}
p,
h2,
h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button {
  height: 48px;
  border-radius: 34px;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  display: block;
  border: none;
  cursor: pointer;
}
button:active,
button:focus,
button:hover {
  position: гelative;
  border: none;
  outline: none;
  outline-offset: 0;
}
.button-blue {
  background: #4C73F4;
  box-shadow: 5px 5px 30px rgba(165, 185, 252, 0.5);
  color: #FFFFFF;
}
.button-blue:hover,
.button-blue :active {
  background: #5B81FF;
}
.button-white {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(39, 57, 117, 0.5);
  color: #1D295C;
}
.button-white:hover {
  color: #4C73F4;
}
.button-white:active {
  color: #5B81FF;
}
.container {
  width: 328px;
  margin: auto;
}
img {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
.content {
  width: 100%;
  overflow: hidden;
}
.header {
  background: url(../img/report/head-mob.png) no-repeat top right;
  padding-top: 60px;
}
.header .title {
  color: #1D295C;
}
.header .title h1 {
  font-size: 34px;
  line-height: 44px;
  font-family: 'Rubik Bold', sans-serif;
}
.header .title h2 {
  margin-top: 55px;
  font-size: 70px;
  font-family: 'Rubik Bold', sans-serif;
}
.header .title .percent::after {
  content: '%';
  font-family: 'Rubik Bold', sans-serif;
}
.header .fio {
  margin-top: 80px;
}
.header .fio p {
  color: #1D295C;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.header .date {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1D295C;
}
.header .warning {
  padding-inline-start: 38px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 26px;
  color: #ff2020;
  letter-spacing: normal;
  font-weight: 600;
  position: relative;
}
.header .warning::before {
  content: url(../img/report/warning.png);
  position: absolute;
  top: 0;
  left: 0;
}
.header .sending .report {
  margin-top: 60px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: normal;
  color: #B5B5B5;
}
.header .sending .icons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
}
.header .sending .icons a {
  margin-right: 32px;
}
.header .sending .buffer {
  width: 250px;
  padding-inline-start: 38px;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #4B6FF3;
  position: relative;
  letter-spacing: normal;
  cursor: pointer;
}
.header .sending .buffer::before {
  content: url(../img/report/copy-r.png);
  position: absolute;
  top: 0;
  left: 0;
}
.analysis {
  margin-top: 80px;
  color: #1D295C;
}
.analysis .title {
  font-size: 26px;
  font-family: 'Rubik Bold', sans-serif;
}
.analysis .description {
  margin-top: 32px;
  font-size: 18px;
  line-height: 28px;
}
.analysis .description span {
  font-weight: bold;
}
.analysis .diagrams {
  position: relative;
}
.analysis .diagrams * {
  font-family: 'Rubik Bold', sans-serif;
}
.analysis .diagrams .di-block {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 50%;
}
.analysis .diagrams .info {
  margin-bottom: 16px;
}
.analysis .diagrams .uncritical-debt {
  margin: auto;
  margin-top: 60px;
  width: 260px;
  height: 260px;
  font-size: 18px;
  position: relative;
}
.analysis .diagrams .uncritical-debt .count {
  color: #4C73F4;
}
.analysis .diagrams .uncritical-debt svg {
  position: absolute;
  top: 0;
  left: 0;
}
.analysis .diagrams .uncritical-debt svg circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #f9f9f9;
  stroke-width: 14;
  stroke-dasharray: 685px 685px;
}
.analysis .diagrams .uncritical-debt svg circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #4C73F4;
  stroke-width: 14;
  stroke-dasharray: 171px 685px;
}
.analysis .diagrams .all-debt {
  width: 328px;
  height: 328px;
  position: absolute;
  top: 232.5px;
  left: 0;
  z-index: -1;
  font-size: 20px;
}
.analysis .diagrams .all-debt .back {
  width: 303.5px;
  height: 303.5px;
  position: absolute;
  top: 12.25px;
  left: 12.25px;
  z-index: -1;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 50%;
}
.analysis .diagrams .critical-debt {
  margin: auto;
  margin-top: 273px;
  width: 260px;
  height: 260px;
  font-size: 18px;
  position: relative;
}
.analysis .diagrams .critical-debt .count {
  color: #ff2020;
}
.analysis .diagrams .critical-debt svg {
  position: absolute;
  top: 0;
  left: 0;
}
.analysis .diagrams .critical-debt svg circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #f9f9f9;
  stroke-width: 14;
  stroke-dasharray: 685px 685px;
}
.analysis .diagrams .critical-debt svg circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #ff2020;
  stroke-width: 14;
  stroke-dasharray: 514px 685px;
}
.detail {
  margin-top: 80px;
  color: #1D295C;
}
.detail .title {
  font-size: 26px;
  line-height: 44px;
  font-family: 'Rubik Bold', sans-serif;
}
.detail .diagrams-carousel {
  margin-top: 57px;
  width: 100%;
}
.detail .diagrams-carousel .carousel-cell {
  padding-bottom: 2px;
  width: 136px;
  margin-right: 24px;
}
.detail .diagrams-carousel .carousel-cell a {
  width: 136px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px #ECF0FF;
  border-radius: 50%;
  transition: background 0.4s;
  position: relative;
}
.detail .diagrams-carousel .carousel-cell a svg {
  position: absolute;
  top: 0;
  left: 0;
}
.detail .diagrams-carousel .carousel-cell a svg circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #f9f9f9;
  stroke-width: 7;
  stroke-dasharray: 342px 342px;
  transition: stroke 0.4s;
}
.detail .diagrams-carousel .carousel-cell a svg circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #4C73F4;
  stroke-width: 7;
  stroke-dasharray: 55px 342px;
}
.detail .diagrams-carousel .carousel-cell a:hover,
.detail .diagrams-carousel .carousel-cell a:focus {
  background: #4C73F4;
  transition: background 0.4s;
}
.detail .diagrams-carousel .carousel-cell a:hover svg circle,
.detail .diagrams-carousel .carousel-cell a:focus svg circle {
  stroke: #8ea6f6;
  transition: stroke 0.4s;
}
.detail .diagrams-carousel .carousel-cell a:hover svg circle:nth-child(2n),
.detail .diagrams-carousel .carousel-cell a:focus svg circle:nth-child(2n) {
  stroke: #FFFFFF;
}
.detail .diagrams-carousel .carousel-cell .description {
  display: none;
  margin-top: 64px;
  font-size: 22px;
  font-family: 'Rubik Bold', sans-serif;
}
.detail .diagrams-carousel .carousel-cell .amount {
  display: none;
  margin-top: 21px;
  font-weight: 600;
  font-size: 22px;
}
.detail .diagrams-carousel .carousel-cell .amount:after {
  content: ' руб';
}
.detail .blocks {
  margin-top: 52px;
}
.detail .blocks .info {
  font-family: 'Rubik Bold', sans-serif;
  font-size: 22px;
}
.detail .blocks .amount {
  margin: 10px 0 45px;
  font-size: 22px;
  font-weight: 600;
}
.detail .blocks .amount::after {
  content: ' руб';
}
.detail .blocks .columns {
  display: none;
  font-size: 18px;
  color: #B5BBD8;
  margin-bottom: 12px;
}
.detail .blocks .columns__id {
  margin-left: 32px;
  display: inline-block;
  width: 191px;
}
.detail .blocks .columns__date {
  display: inline-block;
  width: 82px;
  margin-left: 40px;
}
.detail .blocks .columns__description {
  display: inline-block;
  width: 359px;
  margin-left: 46px;
}
.detail .blocks .columns__amount {
  display: inline-block;
  width: 165px;
  margin-left: 30px;
}
.detail .blocks .block {
  margin-bottom: 24px;
  padding: 24px 0 40px 24px;
  background: #FFFFFF;
  border: 1px solid rgba(181, 187, 216, 0.5);
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0);
  transition: border 0.5s, box-shadow 0.5s;
  box-sizing: border-box;
  border-radius: 20px;
}
.detail .blocks .block * {
  letter-spacing: normal;
}
.detail .blocks .block__inf {
  font-size: 16px;
  color: #B5BBD8;
  letter-spacing: 0.02em;
}
.detail .blocks .block__id,
.detail .blocks .block__date,
.detail .blocks .block__description,
.detail .blocks .block__amount {
  margin: 12px 0 21px;
  text-overflow: ellipsis;
}
.detail .blocks .block__amount {
  font-weight: 600;
}
.detail .blocks .block__amount::after {
  content: ' руб.';
  font-weight: 300;
}
.detail .blocks .block__description__title {
  margin-bottom: 12px;
  font-weight: 600;
}
.detail .blocks .block__btn {
  margin-top: 32px;
  width: 128px;
  letter-spacing: 0.04em;
}
.detail .blocks .block:hover,
.detail .blocks .block:focus {
  border: 1px solid rgba(181, 187, 216, 0);
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  transition: border 0.5s, box-shadow 0.5s;
}
.detail .blocks .warning {
  font-size: 14px;
  line-height: 26px;
  color: #FF2020;
  width: 200px;
}
.detail .btn {
  margin: auto;
  margin-top: 64px;
  width: 163px;
  height: 48px;
  border: 1px solid #4C73F4;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(165, 185, 252, 0.5);
  border-radius: 34px;
  color: #4C73F4;
  letter-spacing: 0.04em;
  background: #FFFFFF;
}
.pay {
  margin-top: 64px;
}
.pay .container {
  padding: 32px 24px;
  background: #4C73F4;
  box-shadow: 0px 0px 30px #ECF0FF;
  border-radius: 34px;
  color: white;
}
.pay .container .title {
  font-size: 22px;
  line-height: 140%;
  font-family: 'Rubik Bold', sans-serif;
}
.pay .container .arrow {
  margin-top: 16px;
  transform: rotate(-90deg);
}
.pay .container .info {
  margin-top: 40px;
  font-size: 16px;
}
.pay .container .sum {
  margin-top: 13px;
  font-size: 24px;
  font-weight: bold;
}
.pay .container .sum::after {
  content: ' руб';
  font-weight: 300;
}
.pay .container .btn {
  margin-top: 56px;
  width: 167px;
  height: 64px;
  font-size: 16px;
}
.recommendations {
  color: #1D295C;
}
.recommendations .title {
  margin: 56px 0 70px;
  font-size: 26px;
  font-family: 'Rubik Bold', sans-serif;
}
.recommendations .block {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
  border-radius: 34px;
  padding: 32px;
  margin-bottom: 24px;
}
.recommendations .block__number {
  font-size: 20px;
  font-family: 'Rubik Bold', sans-serif;
}
.recommendations .block__title {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Rubik Bold', sans-serif;
}
.recommendations .block__description {
  margin-top: 45px;
  font-size: 18px;
  line-height: 28px;
}
.recommendations .block:nth-child(2) .block__number,
.recommendations .block:nth-child(2) .block__title {
  color: #FF2020;
}
.recommendations .block:nth-child(6) {
  padding: 32px 24px;
  background: #4C73F4;
  box-shadow: 0px 0px 30px #ECF0FF;
  border-radius: 34px;
  color: white;
}
.recommendations .block:nth-child(6) .title {
  font-size: 22px;
  line-height: 140%;
  font-family: 'Rubik Bold', sans-serif;
  margin: 0;
}
.recommendations .block:nth-child(6) .arrow {
  margin-top: 16px;
  transform: rotate(-90deg);
}
.recommendations .block:nth-child(6) .info {
  margin-top: 40px;
  font-size: 16px;
}
.recommendations .block:nth-child(6) .sum {
  margin-top: 13px;
  font-size: 24px;
  font-weight: bold;
}
.recommendations .block:nth-child(6) .sum::after {
  content: ' руб';
  font-weight: 300;
}
.recommendations .block:nth-child(6) .btn {
  margin-top: 56px;
  width: 167px;
  height: 64px;
  font-size: 16px;
}
.auto-check .title {
  color: #1D295C;
  margin-top: 64px;
  font-size: 26px;
  font-family: 'Rubik Bold', sans-serif;
}
.auto-check .description {
  margin-top: 32px;
  color: #1D295C;
  font-size: 18px;
  line-height: 28px;
}
.auto-check form {
  margin-top: 48px;
}
.auto-check form .phone {
  color: #A9B1C0;
}
.auto-check form .phone input {
  display: block;
  margin-top: 12px;
  padding-left: 24px;
  width: 100%;
  height: 48px;
  background: #FBFBFB;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 10px;
  color: #1D295C;
}
.auto-check form .phone input:focus {
  outline: none;
  border: 1px solid rgba(76, 115, 244, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
}
.auto-check form .phone input:invalid:not(:placeholder-shown) {
  outline: none;
  border: 1px solid #FF2E2E;
  box-sizing: border-box;
  border-radius: 10px;
}
.auto-check form .check {
  display: block;
  margin-top: 26px;
  font-size: 14px;
  line-height: 24px;
  color: #4C73F4;
  text-decoration-line: underline;
  padding-inline-start: 38px;
  position: relative;
  cursor: pointer;
}
.auto-check form .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.auto-check form .check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid #CCCCCC;
}
.auto-check form .check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.auto-check form .check input:checked ~ .checkmark:after {
  display: block;
}
.auto-check form .check .checkmark:after {
  left: 5px;
  top: -7px;
  width: 5px;
  height: 13px;
  border: solid #4C73F4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.auto-check .btn {
  width: 240px;
  height: 56px;
  margin-top: 32px;
}
.auto-check .support-phone {
  margin-top: 80px;
  font-size: 16px;
  line-height: 33px;
}
.auto-check .support-phone p {
  color: #1D295C;
  padding-inline-start: 38px;
  position: relative;
}
.auto-check .support-phone a {
  margin-left: 38px;
}
.auto-check .support-phone a,
.auto-check .support-phone a:link,
.auto-check .support-phone a:visited,
.auto-check .support-phone a:active,
.auto-check .support-phone a:hover {
  color: #4C73F4;
  text-decoration: none;
}
.auto-check .support-phone p:before {
  content: url(../img/report/sup-r.png);
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 80px;
  background: #F3F7FF;
  box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
}
.footer .container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .container .block {
  margin-top: 56px;
}
.footer .container .dark {
  font-size: 16px;
  color: #1D295C;
  font-weight: 600;
}
.footer .container .contacts {
  padding-right: 10px;
}
.footer .container .contacts .number {
  margin-top: 21px;
  color: #4C73F4;
  font-size: 18px;
}
.footer .container .contacts .mail {
  margin-top: 16px;
  color: #4C73F4;
  font-size: 18px;
}
.footer .container .contacts a,
.footer .container .contacts a:link,
.footer .container .contacts a:visited,
.footer .container .contacts a:active,
.footer .container .contacts a:hover {
  color: #4C73F4;
  text-decoration: none;
}
.footer .container .icons {
  margin-top: 26px;
}
.footer .container .icons a {
  margin-right: 38px;
}
.footer .container .icons a img {
  display: inline;
}
.footer .container .logo .logotype {
  font-size: 18px;
  color: #4C73F4;
  font-weight: 600;
}
.footer .container .logo .rights {
  margin-top: 16px;
}
@media (min-width: 767px) {
  .container {
    width: 736px;
  }
  .header {
    background: url(../img/report/header-desk.png) no-repeat top right;
    padding-top: 80px;
  }
  .header .title {
    position: relative;
  }
  .header .title h1 {
    font-size: 40px;
  }
  .header .title h2 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    font-size: 90px;
  }
  .header .fio {
    margin-top: 40px;
  }
  .header .fio p {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
  }
  .header .date {
    margin-top: 12px;
    font-size: 18px;
  }
  .header .warning {
    width: 550px;
    margin-top: 64px;
    font-size: 18px;
    line-height: 28px;
  }
  .header .sending .report {
    margin-top: 80px;
    font-size: 18px;
  }
  .header .sending .icons {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
  }
  .header .sending .icons a {
    margin-right: 32px;
  }
  .header .sending .buffer {
    margin-top: 40px;
  }
  .analysis {
    margin-top: 120px;
  }
  .analysis .title {
    font-size: 32px;
  }
  .analysis .diagrams {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .analysis .diagrams .uncritical-debt {
    margin: 0;
    margin-top: 33px;
    width: 241px;
    height: 241px;
  }
  .analysis .diagrams .uncritical-debt svg {
    width: 241px;
    height: 241px;
  }
  .analysis .diagrams .uncritical-debt svg circle {
    transform: rotate(-90deg) scale(0.93);
  }
  .analysis .diagrams .all-debt {
    width: 307px;
    height: 307px;
    top: 0;
    left: 214px;
  }
  .analysis .diagrams .all-debt .back {
    width: 285px;
    height: 285px;
  }
  .analysis .diagrams .critical-debt {
    margin: 0;
    margin-top: 33px;
    width: 241px;
    height: 241px;
  }
  .analysis .diagrams .critical-debt svg {
    width: 241px;
    height: 241px;
  }
  .analysis .diagrams .critical-debt svg circle {
    transform: rotate(-90deg) scale(0.93);
  }
  .detail {
    margin-top: 140px;
  }
  .detail .title {
    font-size: 32px;
  }
  .detail .diagrams-carousel {
    margin-top: 60px;
    width: 100%;
  }
  .detail .diagrams-carousel .carousel-cell {
    width: 189px;
    margin-right: 49px;
  }
  .detail .diagrams-carousel .carousel-cell a {
    width: 189px;
    height: 189px;
  }
  .detail .diagrams-carousel .carousel-cell a svg {
    width: 189px;
    height: 189px;
  }
  .detail .diagrams-carousel .carousel-cell a svg circle {
    transform: rotate(-90deg) scale(1.38);
  }
  .detail .diagrams-carousel .carousel-cell .description {
    display: block;
  }
  .detail .diagrams-carousel .carousel-cell .amount {
    display: block;
  }
  .detail .blocks {
    margin-top: 52px;
  }
  .detail .blocks .info {
    font-family: 'Rubik Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 32px;
  }
  .detail .blocks .amount {
    display: none;
  }
  .detail .blocks .amount::after {
    content: ' руб';
  }
  .detail .blocks .block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .detail .blocks .block__inf {
    display: inline-block;
    width: 28%;
  }
  .detail .blocks .block__id,
  .detail .blocks .block__date,
  .detail .blocks .block__description,
  .detail .blocks .block__amount {
    display: inline-block;
    width: 70%;
    margin: 0 0 21px;
  }
  .detail .blocks .block__btn {
    margin-top: 12px;
  }
  .detail .blocks .warning {
    font-size: 16px;
    line-height: 26px;
    color: #FF2020;
    width: 400px;
  }
  .pay {
    margin-top: 64px;
  }
  .pay .container .center {
    display: inline-block;
    width: 73%;
  }
  .pay .container .right {
    display: inline-block;
  }
  .recommendations {
    color: #1D295C;
  }
  .recommendations .title {
    margin: 120px 0 50px;
    font-size: 32px;
  }
  .recommendations .block {
    margin-bottom: 40px;
  }
  .recommendations .block:nth-child(6) .center {
    display: inline-block;
    width: 73%;
  }
  .recommendations .block:nth-child(6) .right {
    display: inline-block;
  }
  .auto-check .title {
    margin-top: 120px;
    font-size: 32px;
    text-align: center;
  }
  .auto-check .description {
    margin: 40px auto 45px;
    width: 548px;
    text-align: center;
  }
  .auto-check form {
    width: 360px;
    margin: auto;
  }
  .auto-check form .check {
    margin-top: 27px;
  }
  .auto-check .btn {
    margin: 48px auto 0;
  }
  .auto-check .support-phone {
    display: flex;
    justify-content: center;
  }
  .auto-check .support-phone a {
    margin-left: 10px;
  }
  .footer .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .container .icons a {
    margin-right: 20px;
  }
}
@media (min-width: 1172px) {
  .container {
    width: 1140px;
  }
  .header {
    padding-top: 131px;
    background: url(../img/report/header-desk.png) no-repeat top center;
  }
  .header .title h1 {
    font-size: 56px;
  }
  .header .title h2 {
    top: -18px;
    font-size: 150px;
  }
  .header .fio {
    margin-top: 24px;
  }
  .header .fio p {
    font-size: 20px;
  }
  .header .date {
    font-size: 20px;
  }
  .header .warning {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
  }
  .header .sending .report {
    margin-top: 80px;
    font-size: 20px;
  }
  .analysis {
    margin-top: 170px;
  }
  .analysis .title {
    font-size: 40px;
  }
  .analysis .description {
    width: 648px;
  }
  .analysis .diagrams {
    margin-top: 96px;
  }
  .analysis .diagrams .uncritical-debt {
    margin-top: 78px;
    width: 353px;
    height: 353px;
  }
  .analysis .diagrams .uncritical-debt svg {
    width: 353px;
    height: 353px;
  }
  .analysis .diagrams .uncritical-debt svg circle {
    transform: rotate(-90deg) scale(1.36);
  }
  .analysis .diagrams .all-debt {
    width: 509px;
    height: 509px;
    left: 315px;
    font-size: 26px;
  }
  .analysis .diagrams .all-debt .back {
    width: 471px;
    height: 471px;
    top: 19px;
    left: 19px;
  }
  .analysis .diagrams .critical-debt {
    margin-top: 78px;
    width: 353px;
    height: 353px;
  }
  .analysis .diagrams .critical-debt svg {
    width: 353px;
    height: 353px;
  }
  .analysis .diagrams .critical-debt svg circle {
    transform: rotate(-90deg) scale(1.36);
  }
  .detail {
    margin-top: 216px;
  }
  .detail .title {
    font-size: 40px;
  }
  .detail .diagrams-carousel {
    margin-top: 96px;
    width: 100%;
  }
  .detail .diagrams-carousel .carousel-cell {
    width: 189px;
    margin-right: 49px;
  }
  .detail .diagrams-carousel .carousel-cell a {
    width: 189px;
    height: 189px;
  }
  .detail .diagrams-carousel .carousel-cell a svg {
    width: 189px;
    height: 189px;
  }
  .detail .diagrams-carousel .carousel-cell a svg circle {
    transform: rotate(-90deg) scale(1.38);
  }
  .detail .blocks {
    margin-top: 64px;
  }
  .detail .blocks .info {
    font-family: 'Rubik Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 32px;
  }
  .detail .blocks .columns {
    display: block;
  }
  .detail .blocks .block {
    padding: 24px 0 24px 32px;
    justify-content: flex-start;
    align-items: center;
  }
  .detail .blocks .block__inf {
    display: none;
  }
  .detail .blocks .block__id {
    display: inline-block;
    width: 191px;
    margin: 0;
  }
  .detail .blocks .block__date {
    display: inline-block;
    width: 82px;
    margin: 0 0 0 40px;
  }
  .detail .blocks .block__description {
    display: inline-block;
    width: 359px;
    margin: 0 0 0 46px;
  }
  .detail .blocks .block__amount {
    display: inline-block;
    width: 165px;
    margin: 0 0 0 30px;
  }
  .detail .blocks .block__btn {
    margin-top: 0;
  }
  .detail .blocks .warning {
    font-size: 14px;
    line-height: 26px;
    color: #FF2020;
    width: 135px;
  }
  .detail .btn {
    display: none;
  }
  .pay {
    margin-top: 120px;
  }
  .pay .container {
    padding: 50px 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pay .container .title {
    font-size: 30px;
    line-height: 40px;
    width: 359px;
    display: inline-block;
  }
  .pay .container .arrow {
    display: inline-block;
    margin-left: 32px;
  }
  .pay .container .info {
    margin-top: 0;
  }
  .pay .container .btn {
    margin-top: 0;
  }
  .pay .container .center {
    width: 235px;
    margin-left: 115px;
  }
  .pay .container .right {
    margin-left: 87px;
  }
  .recommendations .title {
    margin: 120px 0 96px;
    font-size: 40px;
  }
  .recommendations .blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .recommendations .block {
    width: 360px;
    height: 399px;
    margin-bottom: 24px;
  }
  .recommendations .block__number {
    font-size: 22px;
    font-family: 'Rubik Bold', sans-serif;
  }
  .recommendations .block__title {
    height: 88px;
    margin-top: 22px;
    font-size: 22px;
    line-height: 32px;
    font-family: 'Rubik Bold', sans-serif;
  }
  .recommendations .block__title span {
    font-family: 'Rubik Bold', sans-serif;
    white-space: nowrap;
  }
  .recommendations .block__description {
    margin-top: 40px;
  }
  .recommendations .block:nth-child(6) {
    padding: 57px 24px 32px;
  }
  .recommendations .block:nth-child(6) .title {
    font-size: 22px;
    line-height: 32px;
  }
  .recommendations .block:nth-child(6) .arrow {
    margin-left: 4px;
  }
  .recommendations .block:nth-child(6) .info {
    margin-top: 32px;
  }
  .recommendations .block:nth-child(6) .btn {
    margin-top: 52px;
  }
  .recommendations .block:nth-child(6) .center {
    display: block;
    width: 100%;
  }
  .recommendations .block:nth-child(6) .right {
    display: block;
  }
  .footer {
    margin-top: 150px;
  }
  .footer .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .container .icons a {
    margin-right: 24px;
    display: inline-block;
  }
  .footer .container .icons a:nth-child(3n-2) {
    width: 16px;
  }
  .footer .container .icons a:nth-child(2) {
    width: 29px;
  }
  .footer .container .icons a:nth-child(3) {
    width: 19px;
  }
  .footer .container .icons img {
    width: 100%;
  }
  .footer .container .socseti {
    width: 270px;
  }
  .footer .container .socseti p {
    width: 160px;
    text-align: center;
  }
}
.analis1 svg circle:nth-child(2n) {
  animation: uncrit 2s;
}
.analis2 svg circle:nth-child(2n) {
  animation: crit 2s;
}
.detail1 svg circle:nth-child(2n) {
  animation: detail1 2s;
}
.detail2 svg circle:nth-child(2n) {
  animation: detail2 2s;
}
.detail3 svg circle:nth-child(2n) {
  animation: detail3 2s;
}
.detail4 svg circle:nth-child(2n) {
  animation: detail4 2s;
}
.detail5 svg circle:nth-child(2n) {
  animation: detail5 2s;
}
@keyframes uncrit {
  from {
    stroke-dasharray: 0 685px;
  }
  to {
    stroke-dasharray: 171px 685px;
  }
}
@keyframes crit {
  from {
    stroke-dasharray: 0 685px;
  }
  to {
    stroke-dasharray: 514px 685px;
  }
}
@keyframes detail1 {
  from {
    stroke-dasharray: 0 342px;
  }
  to {
    stroke-dasharray: 55px 342px;
  }
}
@keyframes detail2 {
  from {
    stroke-dasharray: 0 342px;
  }
  to {
    stroke-dasharray: 55px 342px;
  }
}
@keyframes detail3 {
  from {
    stroke-dasharray: 0 342px;
  }
  to {
    stroke-dasharray: 55px 342px;
  }
}
@keyframes detail4 {
  from {
    stroke-dasharray: 0 342px;
  }
  to {
    stroke-dasharray: 55px 342px;
  }
}
@keyframes detail5 {
  from {
    stroke-dasharray: 0 342px;
  }
  to {
    stroke-dasharray: 55px 342px;
  }
}
