.analis1 {
    svg {
        circle:nth-child(2n) {
            animation: uncrit 2s;
        }
    }
}
.analis2 {
    svg {
        circle:nth-child(2n) {
            animation: crit 2s;
        }
    }
}
.detail1 {
    svg {
        circle:nth-child(2n) {
            animation: detail1 2s;
        }
    }
}
.detail2 {
    svg {
        circle:nth-child(2n) {
            animation: detail2 2s;
        }
    }
}
.detail3 {
    svg {
        circle:nth-child(2n) {
            animation: detail3 2s;
        }
    }
}
.detail4 {
    svg {
        circle:nth-child(2n) {
            animation: detail4 2s;
        }
    }
}
.detail5 {
    svg {
        circle:nth-child(2n) {
            animation: detail5 2s;
        }
    }
}

@keyframes uncrit {
    from {
        stroke-dasharray: 0 685px;
    }
    to {
        stroke-dasharray: 171px 685px;
    }
}
@keyframes crit {
    from {
        stroke-dasharray: 0 685px;
    }
    to {
        stroke-dasharray:514px 685px;
    }
}
@keyframes detail1 {
    from {
        stroke-dasharray: 0 342px;
    }
    to {
        stroke-dasharray:55px 342px;
    }
}
@keyframes detail2 {
    from {
        stroke-dasharray: 0 342px;
    }
    to {
        stroke-dasharray:55px 342px;
    }
}
@keyframes detail3 {
    from {
        stroke-dasharray: 0 342px;
    }
    to {
        stroke-dasharray:55px 342px;
    }
}
@keyframes detail4 {
    from {
        stroke-dasharray: 0 342px;
    }
    to {
        stroke-dasharray: 55px 342px;
    }
}
@keyframes detail5 {
    from {
        stroke-dasharray: 0 342px;
    }
    to {
        stroke-dasharray: 55px 342px;
    }
}