@import './_fonts.less';
@import './_mixin.less';

.container {
    width: 328px;
    margin: auto;
}
img {
    display: block;
}
.nowrap {
    white-space: nowrap;
}
.content {
    width: 100%;
    overflow: hidden;
}


.header {
    background: url(../img/report/head-mob.png) no-repeat top right;
    padding-top: 60px;
    .title {
        color: @dark-blue;
        h1 {
            font-size: 34px;
            line-height: 44px;
            font-family: @rubik-bold;
        }
        h2 {
            margin-top: 55px;
            font-size: 70px;
            font-family: @rubik-bold;
        }
        .percent::after {
            content: '%';
            font-family: @rubik-bold;
        }
    }
    .fio {
        margin-top: 80px;
        p {
            color: @dark-blue;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
        }
    }
    .date {
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: @dark-blue;
    }
    .warning {
        padding-inline-start: 38px;
        margin-top: 40px;
        font-size: 16px;
        line-height: 26px;
        color: #ff2020;
        letter-spacing: normal;
        font-weight: 600;
        position: relative;
    }
    .warning::before {
        content: url(../img/report/warning.png);
        position: absolute;
        top: 0;
        left: 0;
    }
    .sending {
        .report {
            margin-top: 60px;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: normal;
            color: #B5B5B5;
        }
        .icons {
            margin-top: 16px;
            display: flex;
            justify-content: flex-start;
            a {
                margin-right: 32px;
            }
        }
        .buffer {
            width: 250px;
            padding-inline-start: 38px;
            margin-top: 60px;
            font-size: 20px;
            line-height: 30px;
            color: #4B6FF3;
            position: relative;
            letter-spacing: normal;
            cursor: pointer;
        }
        .buffer::before {
            content: url(../img/report/copy-r.png);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.analysis {
    margin-top: 80px;
    color: @dark-blue;
    .title {
        font-size: 26px;
        font-family: @rubik-bold;
    }
    .description {
        margin-top: 32px;
        font-size: 18px;
        line-height: 28px;
        span {
            font-weight: bold;
        }
    }
    .diagrams {
        position: relative;
        * {
            font-family: @rubik-bold;
        }
        .di-block {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
            border-radius: 50%;
        }
        .info {
            margin-bottom: 16px;

        }
        .uncritical-debt {
            margin: auto;
            margin-top: 60px;
            width: 260px;
            height: 260px;
            font-size: 18px;
            position: relative;
            .count {
                color: @blue;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                circle {
                    fill: rgba(0,0,0,0);
                    stroke: #f9f9f9;
                    stroke-width: 14;
                    stroke-dasharray: 685px 685px;
                }
                circle:nth-child(2n) {
                    fill: rgba(0,0,0,0);
                    stroke: @blue;
                    stroke-width: 14;
                    stroke-dasharray: 171px 685px;
                }
            }
        }
        .all-debt {
            width: 328px;
            height: 328px;
            position: absolute;
            top: 232.5px;
            left: 0;
            z-index: -1;
            font-size: 20px;
            .back {
                width: 303.5px;
                height: 303.5px;
                position: absolute;
                top: 12.25px;
                left: 12.25px;
                z-index: -1;
                background: #FFFFFF;
                box-shadow: inset 0px 0px 30px rgba(203, 215, 253, 0.5);
                border-radius: 50%;
            }
        }
        .critical-debt {
            margin: auto;
            margin-top: 273px;
            width: 260px;
            height: 260px;
            font-size: 18px;
            position: relative;
            .count {
                color: #ff2020;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                circle {
                    fill: rgba(0,0,0,0);
                    stroke: #f9f9f9;
                    stroke-width: 14;
                    stroke-dasharray: 685px 685px;
                }
                circle:nth-child(2n) {
                    fill: rgba(0,0,0,0);
                    stroke: #ff2020;
                    stroke-width: 14;
                    stroke-dasharray:514px 685px;
                }
            }
        }
    }
}
.detail {
    margin-top: 80px;
    color: @dark-blue;
    .title {
        font-size: 26px;
        line-height: 44px;
        font-family: @rubik-bold;
    }
    .diagrams-carousel {
        margin-top: 57px;
        width: 100%;
        .carousel-cell {
            padding-bottom: 2px;
            width: 136px;
            margin-right: 24px;
            a {
                width: 136px;
                height: 136px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                box-shadow: 0px 0px 30px #ECF0FF;
                border-radius: 50%;
                transition: background 0.4s;
                position: relative;
                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    circle {
                        fill: rgba(0,0,0,0);
                        stroke: #f9f9f9;
                        stroke-width: 7;
                        stroke-dasharray: 342px 342px;
                        transition: stroke 0.4s;
                    }
                    circle:nth-child(2n) {
                        fill: rgba(0,0,0,0);
                        stroke: #4C73F4;
                        stroke-width: 7;
                        stroke-dasharray:55px 342px;
                    }
                }
            }
            a:hover, a:focus {
                background: #4C73F4;
                transition: background 0.4s;
                svg {
                    circle {
                        stroke: #8ea6f6;
                        transition: stroke 0.4s;
                    }
                    circle:nth-child(2n) {
                        stroke: @white;
                    }
                }
            }
            .description {
                display: none;
                margin-top: 64px;
                font-size: 22px;
                font-family: @rubik-bold;
            }
            .amount {
                display: none;
                margin-top: 21px;
                font-weight: 600;
                font-size: 22px;
            }
            .amount:after {
                content: ' руб';
            }
        }
    }
    .blocks {
        margin-top: 52px;
        .info {
            font-family: @rubik-bold;
            font-size: 22px;
        }
        .amount {
            margin: 10px 0 45px;
            font-size: 22px;
            font-weight: 600;
        }
        .amount::after {
            content: ' руб';
        }
        .columns {
            display: none;
            font-size: 18px;
            color: #B5BBD8;
            margin-bottom: 12px;
            &__id {
                margin-left: 32px;
                display: inline-block;
                width: 191px;
            }
            &__date {
                display: inline-block;
                width: 82px;
                margin-left: 40px;
            }
            &__description {
                display: inline-block;
                width: 359px;
                margin-left: 46px;
            }
            &__amount {
                display: inline-block;
                width: 165px;
                margin-left: 30px;
            }
        }
        .block {
            margin-bottom: 24px;
            padding: 24px 0 40px 24px;
            background: #FFFFFF;
            border: 1px solid rgba(181, 187, 216, 0.5);
            box-shadow: 0px 0px 30px rgba(203, 215, 253, 0);
            transition: border 0.5s, box-shadow 0.5s;
            box-sizing: border-box;
            border-radius: 20px;
            * {
                letter-spacing: normal;
            }
            &__inf {
                font-size: 16px;
                color: #B5BBD8;
                letter-spacing: 0.02em;
            }
            &__id, &__date, &__description, &__amount {
                margin: 12px 0 21px; 
                text-overflow: ellipsis;
            }
            &__amount {
                font-weight: 600;
            }
            &__amount::after {
                content: ' руб.';
                font-weight: 300;
            }
            &__description__title {
                margin-bottom: 12px;
                font-weight: 600;
            }
            &__btn {
                margin-top: 32px;
                width: 128px;
                letter-spacing: 0.04em;
            }
        }
        .block:hover, .block:focus {
            border: 1px solid rgba(181, 187, 216, 0);
            box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
            transition: border 0.5s, box-shadow 0.5s;
        }
        .warning {
            font-size: 14px;
            line-height: 26px;
            color: #FF2020;
            width: 200px;
        }
    }
    .btn {
        margin: auto;
        margin-top: 64px;
        width: 163px;
        height: 48px;
        border: 1px solid @blue;
        box-sizing: border-box;
        box-shadow: 5px 5px 30px rgba(165, 185, 252, 0.5);
        border-radius: 34px;
        color: @blue;
        letter-spacing: 0.04em;
        background: @white;
    }
}
.pay {
    margin-top: 64px;
    .container {
        padding: 32px 24px;
        background: #4C73F4;
        box-shadow: 0px 0px 30px #ECF0FF;
        border-radius: 34px;
        color: white;
        .title {
            font-size: 22px;
            line-height: 140%;
            font-family: @rubik-bold;
        }
        .arrow {
            margin-top: 16px;
            transform: rotate(-90deg);
        }
        .info {
            margin-top: 40px;
            font-size: 16px;
        }
        .sum {
            margin-top: 13px;
            font-size: 24px;
            font-weight: bold;
        }
        .sum::after {
            content: ' руб';
            font-weight: 300;
        }
        .btn {
            margin-top: 56px;
            width: 167px;
            height: 64px;
            font-size: 16px;
        }
    }
}
.recommendations {
    color: @dark-blue;
    .title {
        margin: 56px 0 70px;
        font-size: 26px;
        font-family: @rubik-bold;
    }
    .block {
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(203, 215, 253, 0.5);
        border-radius: 34px;
        padding: 32px;
        margin-bottom: 24px;
        &__number {
            font-size: 20px;
            font-family: @rubik-bold;
        }
        &__title {
            margin-top: 20px;
            font-size: 18px;
            font-family: @rubik-bold;
        }
        &__description {
            margin-top: 45px;
            font-size: 18px;
            line-height: 28px;
        }
    }
    .block:nth-child(2) {
        .block__number, .block__title {
            color: #FF2020;
        }
    }
    .block:nth-child(6) {
        padding: 32px 24px;
        background: #4C73F4;
        box-shadow: 0px 0px 30px #ECF0FF;
        border-radius: 34px;
        color: white;
        .title {
            font-size: 22px;
            line-height: 140%;
            font-family: @rubik-bold;
            margin: 0;
        }
        .arrow {
            margin-top: 16px;
            transform: rotate(-90deg);
        }
        .info {
            margin-top: 40px;
            font-size: 16px;
        }
        .sum {
            margin-top: 13px;
            font-size: 24px;
            font-weight: bold;
        }
        .sum::after {
            content: ' руб';
            font-weight: 300;
        }
        .btn {
            margin-top: 56px;
            width: 167px;
            height: 64px;
            font-size: 16px;
        }
    }
}
.auto-check {
    .title {
        color: @dark-blue;
        margin-top: 64px;
        font-size: 26px;
        font-family: @rubik-bold;
    }
    .description {
        margin-top: 32px;
        color: @dark-blue;
        font-size: 18px;
        line-height: 28px;
    }
    form {
        margin-top: 48px;
        .phone {
            color: #A9B1C0;
            input {
                display: block;
                margin-top: 12px;
                padding-left: 24px;
                width: 100%;
                height: 48px;
                background: #FBFBFB;
                border: 1px solid #EDEDED;
                box-sizing: border-box;
                border-radius: 10px;
                color: @dark-blue;
            }
            input:focus{
                outline: none;
                border: 1px solid rgba(76, 115, 244, 0.4);
                box-sizing: border-box;
                border-radius: 10px;
            }
            input:invalid:not(:placeholder-shown) {
                outline: none;
                border: 1px solid #FF2E2E;
                box-sizing: border-box;
                border-radius: 10px;
            }
        }
        .check {
            display: block;
            margin-top: 26px;
            font-size: 14px;
            line-height: 24px;
            color: @blue;
            text-decoration-line: underline;
            padding-inline-start: 38px;
            position: relative;
            cursor: pointer;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 15px;
                width: 15px;
                border: 2px solid #CCCCCC;
            }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            input:checked ~ .checkmark:after {
                display: block;
            }
            .checkmark:after {
                left: 5px;
                top: -7px;
                width: 5px;
                height: 13px;
                border: solid @blue;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    .btn {
        width: 240px;
        height: 56px;
        margin-top: 32px;
    }
    .support-phone {
        margin-top: 80px;
        font-size: 16px;
        line-height: 33px;
        p {
            color: @dark-blue;
            padding-inline-start: 38px;
            position: relative;
        }
        a {
            margin-left: 38px;
        }
        a, a:link, a:visited, a:active, a:hover {
            color: @blue;
            text-decoration: none;
        }
        p:before {
            content: url(../img/report/sup-r.png);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.footer {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
    background: #F3F7FF;
    box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.19);
    .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        .block {
            margin-top: 56px;
        }
        .dark {
            font-size: 16px;
            color: @dark-blue;
            font-weight: 600;
        }
        .contacts {
            padding-right: 10px;
            .number {
                margin-top: 21px;
                color: @blue;
                font-size: 18px;
            }
            .mail {
                margin-top: 16px;
                color: @blue;
                font-size: 18px;
            }
            a, a:link, a:visited, a:active, a:hover {
                color: @blue;
                text-decoration: none;
             }
        }
        .icons {
            margin-top: 26px;
            a {
                margin-right: 38px;
                img {
                    display: inline;
                }
            }
        }
        .logo {
            .logotype {
                font-size: 18px;
                color: @blue;
                font-weight: 600;
            }
            .rights {
                margin-top: 16px;
            }
        }
    }
}

@media (min-width: 767px) {
    .container {
        width: 736px;
    }
    .header {
        background: url(../img/report/header-desk.png) no-repeat top right;
        padding-top: 80px;
        .title {
            position: relative;
            h1 {
                font-size: 40px;
            }
            h2 {
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0;
                font-size: 90px;
            }
        }
        .fio {
            margin-top: 40px;
            p {
                display: inline-block;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .date {
            margin-top: 12px;
            font-size: 18px;
        }
        .warning {
            width: 550px;
            margin-top: 64px;
            font-size: 18px;
            line-height: 28px;
        }
        .sending {
            .report {
                margin-top: 80px;
                font-size: 18px;
            }
            .icons {
                margin-top: 16px;
                display: flex;
                justify-content: flex-start;
                a {
                    margin-right: 32px;
                }
            }
            .buffer {
                margin-top: 40px;
            }
        }
    }
    .analysis {
        margin-top: 120px;
        .title {
            font-size: 32px;
        }
        .diagrams {
            margin-top: 50px;
            position: relative;
            display: flex;
            justify-content: space-between;
            text-align: center;
            .uncritical-debt {
                margin: 0;
                margin-top: 33px;
                width: 241px;
                height: 241px;
                svg {
                    width: 241px;
                    height: 241px;
                    circle {
                        transform: rotate(-90deg) scale(0.93);
                    }
                }
            }
            .all-debt {
                width: 307px;
                height: 307px;
                top: 0;
                left: 214px;
                .back {
                    width: 285px;
                    height: 285px;
                }
            }
            .critical-debt {
                margin: 0;
                margin-top: 33px;
                width: 241px;
                height: 241px;
                svg {
                    width: 241px;
                    height: 241px;
                    circle {
                        transform: rotate(-90deg) scale(0.93);
                    }
                }
            }
        }
    }
    .detail {
        margin-top: 140px;
        .title {
            font-size: 32px;
        }
        .diagrams-carousel {
            margin-top: 60px;
            width: 100%;
            .carousel-cell {
                width: 189px;
                margin-right: 49px;
                a {
                    width: 189px;
                    height: 189px;
                    svg {
                        width: 189px;
                        height: 189px;
                        circle {
                            transform: rotate(-90deg) scale(1.38);
                        }
                    }
                }
                .description {
                    display: block;
                }
                .amount {
                    display: block;
                }
            }
        }
        .blocks {
            margin-top: 52px;
            .info {
                font-family: @rubik-bold;
                font-size: 22px;
                margin-bottom: 32px;
            }
            .amount {
                display: none;
            }
            .amount::after {
                content: ' руб';
            }
            .block {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                &__inf {
                    display: inline-block;
                    width: 28%;
                }
                &__id, &__date, &__description, &__amount {
                    display: inline-block;
                    width: 70%;
                    margin: 0 0 21px; 
                }
                &__btn {
                    margin-top: 12px;
                }
            }
            .warning {
                font-size: 16px;
                line-height: 26px;
                color: #FF2020;
                width: 400px;
            }
        }
    }
    .pay {
        margin-top: 64px;
        .container {
            .center {
                display: inline-block;
                width: 73%;
            }
            .right {
                display: inline-block;
            }
        }
    }
    .recommendations {
        color: @dark-blue;
        .title {
            margin: 120px 0 50px;
            font-size: 32px;
        }
        .block {
            margin-bottom: 40px;
        }
        .block:nth-child(6) {
            .center {
                display: inline-block;
                width: 73%;
            }
            .right {
                display: inline-block;
            }
        }
    }
    .auto-check {
        .title {
            margin-top: 120px;
            font-size: 32px;
            text-align: center;
        }
        .description {
            margin: 40px auto 45px;
            width: 548px;
            text-align: center;
        }
        form {
            width: 360px;
            margin: auto;
            .check {
                margin-top: 27px;
            }
        }
        .btn {
            margin: 48px auto 0;
        }
        .support-phone {
            display: flex;
            justify-content: center;
            a {
                margin-left: 10px;
            }
        }
    }
    .footer {
        .container{
            flex-direction: row-reverse;
            justify-content: space-between;
            .icons {
                a {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media (min-width: 1172px) {
    .container {
        width: 1140px;
    }
    .header {
        padding-top: 131px;
        background: url(../img/report/header-desk.png) no-repeat top center;
        .title {
            h1 {
                font-size: 56px;
            }
            h2 {
                top: -18px;
                font-size: 150px;
            }
        }
        .fio {
            margin-top: 24px;
            p {
                font-size: 20px;
            }
        }
        .date {
            font-size: 20px;
        }
        .warning {
            width: 600px;
            font-size: 20px;
            line-height: 30px;
        }
        .sending {
            .report {
                margin-top: 80px;
                font-size: 20px;
            }
        }
    }
    .analysis {
        margin-top: 170px;
        .title {
            font-size: 40px;
        }
        .description {
            width: 648px;
        }
        .diagrams {
            margin-top: 96px;
            .uncritical-debt {
                margin-top: 78px;
                width: 353px;
                height: 353px;
                svg {
                    width: 353px;
                    height: 353px;
                    circle {
                        transform: rotate(-90deg) scale(1.36);
                    }
                }
            } 
            .all-debt {
                width: 509px;
                height: 509px;
                left: 315px;
                font-size: 26px;
                .back {
                    width: 471px;
                    height: 471px;
                    top: 19px;
                    left: 19px;
                }
            }
            .critical-debt {
                margin-top: 78px;
                width: 353px;
                height: 353px;
                svg {
                    width: 353px;
                    height: 353px;
                    circle {
                        transform: rotate(-90deg) scale(1.36);
                    }
                }
            }
        }
    }
    .detail {
        margin-top: 216px;
        .title {
            font-size: 40px;
        }
        .diagrams-carousel {
            margin-top: 96px;
            width: 100%;
            .carousel-cell {
                width: 189px;
                margin-right: 49px;
                a {
                    width: 189px;
                    height: 189px;
                    svg {
                        width: 189px;
                        height: 189px;
                        circle {
                            transform: rotate(-90deg) scale(1.38);
                        }
                    }
                }
            }
        }
        .blocks {
            margin-top: 64px;
            .info {
                font-family: @rubik-bold;
                font-size: 22px;
                margin-bottom: 32px;
            }
            .columns {
                display: block;
            }
            .block {
                padding: 24px 0 24px 32px;
                justify-content: flex-start;
                align-items: center;
                &__inf {
                    display: none;
                }
                &__id {
                    display: inline-block;
                    width: 191px;
                    margin: 0;
                }
                &__date {
                    display: inline-block;
                    width: 82px;
                    margin: 0 0 0 40px;
                }
                &__description {
                    display: inline-block;
                    width: 359px;
                    margin: 0 0 0 46px;
                }
                &__amount {
                    display: inline-block;
                    width: 165px;
                    margin: 0 0 0 30px;
                }
                &__btn {
                    margin-top: 0;
                }
            }
            .warning {
                font-size: 14px;
                line-height: 26px;
                color: #FF2020;
                width: 135px;
            }
        }
        .btn {
            display: none;
        }
    }
    .pay {
        margin-top: 120px;
        .container {
            padding: 50px 56px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .title {
                font-size: 30px;
                line-height: 40px;
                width: 359px;
                display: inline-block;
            }
            .arrow {
                display: inline-block;
                margin-left: 32px;
            }
            .info {
                margin-top: 0;
            }
            .btn {
                margin-top: 0;
            }
            .center {
                width: 235px;
                margin-left: 115px;
            }
            .right {
                margin-left: 87px;
            }
        }
    }
    .recommendations {
        .title {
            margin: 120px 0 96px;
            font-size: 40px;
        }
        .blocks {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .block {
            width: 360px;
            height: 399px;
            margin-bottom: 24px;
            &__number {
                font-size: 22px;
                font-family: @rubik-bold;
            }
            &__title {
                height: 88px;
                margin-top: 22px;
                font-size: 22px;
                line-height: 32px;
                font-family: @rubik-bold;
                span {
                    font-family: @rubik-bold;
                    white-space: nowrap;
                }
            }
            &__description {
                margin-top: 40px;
            }
        }
        .block:nth-child(6) {
            padding: 57px 24px 32px;
            .title {
                font-size: 22px;
                line-height: 32px;
            }
            .arrow {
                margin-left: 4px;
            }
            .info {
                margin-top: 32px;
            }
            .btn {
                margin-top: 52px;
            }
            .center {
                display: block;
                width: 100%;
            }
            .right {
                display: block;
            }
        }
    }
    .footer {
        margin-top: 150px;
        .container{
            flex-direction: row-reverse;
            justify-content: space-between;
            .icons {
                a {
                    margin-right: 24px;
                    display: inline-block;
                }
                a:nth-child(3n-2) {
                    width: 16px;
                }
                a:nth-child(2) {
                    width: 29px;
                }
                a:nth-child(3) {
                    width: 19px;
                }
                img {
                    width: 100%;
                }
            }
            .socseti {
                width: 270px;
                p {
                    width: 160px;
                    text-align: center;
                }
            }
        }
    }
}

@import './report-animation.less';
